header {
   background-color: darkred;
   color: white;
   text-align: center;
   
}
body {
   background-color: lightgrey;
}
h1 {
   font-size: 40px;
}
h2 {
   font-size: 22px;
}
.link {
   display: flex;
   justify-content: center;
   text-align: center;
}
p {
   font-size: 16px;
}
footer {
   background-color: darkred;
   color: white;
   text-align: center;
}
#top {}
.p {
   font-size: 16px;
   font-family: serif;
   font-color: darkred;
}
.button {
   text-align: center;
   background-color: darkred;
   border: 1px solid black;
   color: white;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   border-radius: 12px;
   transition-duration: 0.4s;
   cursor: pointer;
}
.button:hover {
   background-color: white;
   color: darkred;
   box-shadow: 0 6px 11px 0 rgba(0,0,0,0.15), 0 6px 15px 0 rgba(0,0,0,0.1);
}
.input {
   background-color: #EFEFEF;
   color: black;
}
#work, #products, #bottom, #go-home {
   display: flex;
   justify-content: center;
   text-align: center;
}
